<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524729765676-lbqics03brm49q5684osgog5rn2f0uid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524729765676-lbqics03brm49q5684osgog5rn2f0uid</string>
	<key>API_KEY</key>
	<string>AIzaSyC-j-JDlLkgoZgz4gEKRZBJ1La-k1AeR3s</string>
	<key>GCM_SENDER_ID</key>
	<string>524729765676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.znfod.FireStoreSample</string>
	<key>PROJECT_ID</key>
	<string>intermittentfasting-a8a76</string>
	<key>STORAGE_BUCKET</key>
	<string>intermittentfasting-a8a76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524729765676:ios:ad26f6f55190f75e</string>
	<key>DATABASE_URL</key>
	<string>https://intermittentfasting-a8a76.firebaseio.com</string>
</dict>
</plist>